.grey {
    background-color: lightgrey;
}
.green_style{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
.red_style{
    width: auto;
    border: 10px dashed red;
    padding: 10px;
    margin: 20px;
}
.blue_style{
    width: 40%;
    border: 5px double blue;
    padding: 20px;
    margin: 20px;
}